.pagenation .pagenumber li.view_more.active a {
	background: #fff;
	color: #c70101!important;
}
.pagenation {
	font-family: arial, helvetica, san-serif;
	font-size: 11px;
	color: #393939;
	text-transform: uppercase;
}
.pagenation .page_number {
text-align: right;
}
.pagenation .pagenumber {
	text-align: right;
	display: inline-block;
}
.pagenation .pagenumber li {
	display: inline-block;
	text-align: center;
	margin: 0 2.5px;
	font-weight: bold;
	width: 22px;
	height: 20px;
	line-height: 1.8em;
	border: 1px solid #cdcdcd;
	float: left;
}
.pagenation .pagenumber li.more_page {
	border:0;
	margin:0;
	width: 10px;
}
.pagenation .pagenumber li.view_more {
	margin:0;
	width: 50px;
	text-align: center;
	border: 1px solid transparent;
	text-decoration: underline;
}
.pagenation .pagenumber .view_more a:hover {
	background: #fff;
	color: #c70101;
}
.pagenation .pagenumber .view_more.active {
	background: #fff;
	color: #c70101;
}
.pagenation .page_number .active {
	color: #fff;
	font-weight: bold;
	background: #c70101;
	border: 1px solid #c70101;
}
.pagenation .page_number a {
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #393939;
	text-transform: uppercase;
}
.pagenation .page_number a:hover {
	color: #fff;
	background: #000;
	display: block;
}
.PagerHyperlinkStyle {font-size:11px!important;}

